<Project>
  <PropertyGroup>
    <Configuration>Release</Configuration>
    <Platform>x64</Platform>
    <PublishDir>$(MSBuildThisFileDirectory)..\..\..\..\artifacts\windows-x64\</PublishDir>
    <SelfContained>true</SelfContained>
    <PublishSingleFile>false</PublishSingleFile>
    <EnableMsixTooling>false</EnableMsixTooling>
    <WindowsAppSDKSelfContained>true</WindowsAppSDKSelfContained>
    <PublishTrimmed>false</PublishTrimmed>
    <PublishReadyToRun>false</PublishReadyToRun>
  </PropertyGroup>
</Project>
